<footer class="footer">
  <img src="https://miro.medium.com/max/5760/1*5cukG51YzB3wniCfQ2b7kg.png" alt="Rails image" height="40" width="100">
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
